* {
    margin: 0 auto;
    overflow: hidden;
}
/*Title Bar*/
.main-header {
    position: relative;
    width: 1440px;
    height: 50px;
    background-color: var(--neutral-10);
  }
  
  .main-header .main-logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 15px;
    left: 48px;
  }
  
  .main-header .favicon {
    position: relative;
    width: 30px;
    height: 21px;
  }
  
  .main-header .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: var(--primarymain);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-header .buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 15px;
    left: 1000px;
  }
  
  .main-header .language {
    display: flex;
    width: 43px;
    height: 21px;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  
  .main-header .img {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .main-header .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-m-medium-font-family);
    font-weight: var(--text-m-medium-font-weight);
    color: var(--primarymain);
    font-size: var(--text-m-medium-font-size);
    letter-spacing: var(--text-m-medium-letter-spacing);
    line-height: var(--text-m-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-m-medium-font-style);
  }
  
  .main-header .profile {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
/* End of title bar*/
/* navigation*/
.nav-pills li a:hover {
    background-color: blue;
}
/* End of navigation bar*/
/* chat area*/
.chat-area header {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

.chat-area header .back-icon {
    font-size: 16px;
    color: #333;
}

img {
    border-radius: 120px;

}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

span {
    padding-top: 50px;
    margin-top: 20px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;

}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0, 0, 0 / 5%);

}

.chat-box .chat {
    margin: 10px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 32px 32px -32px rgb(0, 0, 0 / 8%);
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    color: #333;
    background: #fff;
    border-radius: 18px 18px 10px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 50px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

}
  /*Main section*/
.main{
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 10px;
    color: #000;
    cursor: pointer;
}
.main-skills{
    display: flex;
    margin-top: 20px;
}
.main-skills .card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

}
.main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .card p{
    font-size: 12px;

}
.main-skills .card button{
    background: blue;
    color: #ccc;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .card button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
    font-size: 22px;
    padding: 10px;
}
