:root {
    --neutral-10: rgba(255, 255, 255, 1);
    --neutral-20: rgba(245, 245, 245, 1);
    --neutral-30: rgba(237, 237, 237, 1);
    --neutral-40: rgba(224, 224, 224, 1);
    --neutral-50: rgba(194, 194, 194, 1);
    --neutral-60: rgba(158, 158, 158, 1);
    --neutral-70: rgba(117, 117, 117, 1);
    --neutral-80: rgba(97, 97, 97, 1);
    --neutral-90: rgba(64, 64, 64, 1);
    --neutral-100: rgba(10, 10, 10, 1);
    --primarymain: rgba(33, 33, 67, 1);
    --primarysurface: rgba(211, 211, 217, 1);
    --primary-border: rgba(181, 181, 192, 1);
    --primaryhover: rgba(70, 70, 98, 1);
    --primarypressed: rgba(7, 7, 13, 1);
    --primary-focus: rgba(33, 33, 67, 0.2);
    --dangermain: rgba(253, 49, 77, 1);
    --dangersurface: rgba(255, 214, 219, 1);
    --danger-border: rgba(254, 186, 196, 1);
    --dangerhover: rgba(211, 41, 64, 1);
    --dangerpressed: rgba(126, 24, 38, 1);
    --danger-focus: rgba(253, 49, 77, 0.2);
    --warningmain: rgba(240, 183, 50, 1);
    --warningsurface: rgba(252, 241, 214, 1);
    --warning-border: rgba(250, 231, 187, 1);
    --warninghover: rgba(200, 152, 42, 1);
    --warningpressed: rgba(120, 91, 25, 1);
    --warning-focus: rgba(240, 183, 50, 0.2);
    --successmain: rgba(10, 126, 34, 1);
    --successsurface: rgba(206, 229, 211, 1);
    --success-border: rgba(173, 212, 181, 1);
    --successhover: rgba(8, 105, 28, 1);
    --success-pressed: rgba(5, 63, 17, 1);
    --successfocus: rgba(10, 126, 34, 0.2);
    --infomain: rgba(20, 106, 220, 1);
    --infosurface: rgba(208, 225, 248, 1);
    --info-border: rgba(177, 205, 243, 1);
    --infohover: rgba(17, 88, 183, 1);
    --info-pressed: rgba(10, 53, 110, 1);
    --infofocus: rgba(20, 106, 220, 0.2);
    --heading-s-font-family: "Inter-Medium", Helvetica;
    --heading-s-font-weight: 500;
    --heading-s-font-size: 20px;
    --heading-s-letter-spacing: -0.34000000953674314px;
    --heading-s-line-height: 30px;
    --heading-s-font-style: normal;
    --heading-m-font-family: "Inter-Medium", Helvetica;
    --heading-m-font-weight: 500;
    --heading-m-font-size: 28px;
    --heading-m-letter-spacing: -0.5879999732971192px;
    --heading-m-line-height: 36px;
    --heading-m-font-style: normal;
    --heading-l-font-family: "Inter-SemiBold", Helvetica;
    --heading-l-font-weight: 600;
    --heading-l-font-size: 36px;
    --heading-l-letter-spacing: -0.7920000171661377px;
    --heading-l-line-height: 44px;
    --heading-l-font-style: normal;
    --text-s-regular-font-family: "Inter-Regular", Helvetica;
    --text-s-regular-font-weight: 400;
    --text-s-regular-font-size: 12px;
    --text-s-regular-letter-spacing: 0px;
    --text-s-regular-line-height: 18px;
    --text-s-regular-font-style: normal;
    --text-s-medium-font-family: "Inter-Medium", Helvetica;
    --text-s-medium-font-weight: 500;
    --text-s-medium-font-size: 12px;
    --text-s-medium-letter-spacing: 0px;
    --text-s-medium-line-height: 18px;
    --text-s-medium-font-style: normal;
    --text-s-bold-font-family: "Inter-Bold", Helvetica;
    --text-s-bold-font-weight: 700;
    --text-s-bold-font-size: 12px;
    --text-s-bold-letter-spacing: 0px;
    --text-s-bold-line-height: 18px;
    --text-s-bold-font-style: normal;
    --text-m-regular-font-family: "Inter-Regular", Helvetica;
    --text-m-regular-font-weight: 400;
    --text-m-regular-font-size: 14px;
    --text-m-regular-letter-spacing: -0.0840000033378601px;
    --text-m-regular-line-height: 21px;
    --text-m-regular-font-style: normal;
    --text-m-medium-font-family: "Inter-Medium", Helvetica;
    --text-m-medium-font-weight: 500;
    --text-m-medium-font-size: 14px;
    --text-m-medium-letter-spacing: -0.0840000033378601px;
    --text-m-medium-line-height: 21px;
    --text-m-medium-font-style: normal;
    --text-m-bold-font-family: "Inter-Bold", Helvetica;
    --text-m-bold-font-weight: 700;
    --text-m-bold-font-size: 14px;
    --text-m-bold-letter-spacing: -0.0840000033378601px;
    --text-m-bold-line-height: 21px;
    --text-m-bold-font-style: normal;
    --text-l-regular-font-family: "Inter-Regular", Helvetica;
    --text-l-regular-font-weight: 400;
    --text-l-regular-font-size: 16px;
    --text-l-regular-letter-spacing: -0.17600000381469727px;
    --text-l-regular-line-height: 24px;
    --text-l-regular-font-style: normal;
    --text-l-medium-font-family: "Inter-Medium", Helvetica;
    --text-l-medium-font-weight: 500;
    --text-l-medium-font-size: 16px;
    --text-l-medium-letter-spacing: -0.17600000381469727px;
    --text-l-medium-line-height: 24px;
    --text-l-medium-font-style: normal;
    --text-l-bold-font-family: "Inter-Bold", Helvetica;
    --text-l-bold-font-weight: 700;
    --text-l-bold-font-size: 16px;
    --text-l-bold-letter-spacing: -0.17600000381469727px;
    --text-l-bold-line-height: 24px;
    --text-l-bold-font-style: normal;
    --shadow-1: 0px 1px 12px 0px rgba(25, 27, 35, 0.1);
    --shadow-2: 0px 8px 16px -4px rgba(22, 34, 51, 0.08);
    --shadow-3: ;
    --left-menu-border-bottom: ;
  }
  